extends ../pageTemplates/main.pug

block variables
  - var keywords = '';
  - var description = '';
  - var title = '';
  - var faviconUrl = '';

block additionStyle

block content

block additionScript