mixin icon(name, color)
  svg(class = `icon icon-${name}${color ? ' icon-' + color: ''}`)&attributes(attributes)
    use(xlink:href = `/img/icons.svg#${name}`)

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width', initial-scale='1', shrink-to-fit='no')
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    block additionStyle
    title
      block title
  body
    div.PageWrapper
      header

      main
        block content
      footer
    
    script(type='text/javascript', src='/js/main.js')
    block additionScript